@charset "UTF-8";

*{
text-align:center;
background-color:#AAAAFF;
}
#ent{
border: 1px solid black;
max-width: fit-content;
 margin-left: auto;
  margin-right: auto;
  padding:3px;
}

#sub{
background-color:Blue;
border-color:white;
color:white;
}
input{
background-color:white;
border-color:blue;
color:Black;
}
#msg{
color:red;
}
